body{
    font-family: Arial, Helvetica, sans-serif;
}

/*ESTILOS GENERALES*/
nav ul{
    list-style: none;
    padding: 0;
    
}

nav li{
    line-height: 3rem;
    position: relative;
}

nav li ul{
    position: absolute;
}

nav a{
    color: #ddd;
    display: table;
    padding: 0 2.5em;
    text-decoration: none;
    transition: .4s;
}

nav a:hover{
    background: rgba(0,0,0,.5);   
}

/*nav ul ul ul{
    display: none;

}
/*PRIMER NIVEL*/
nav > ul{
    background: #333;
    display: table;
    width: 100%;
}

nav > ul > li{
    float: left;
}
/*SEGUNDO NIVEL*/
nav li li{
    background: #222;
}

nav > ul > li > ul
/*TERCER NIVEL*/